{% extends "../../layouts/base" %}

{% block title %}
    Diaplan configuration
{% endblock %}

{% block pageHeader %}
    Configuration
    <small>{{ switchboard.name }}</small>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/u/switchboard">Switchboard</a></li>
    <li class="active"><a href="#">Dialplan</a></li>
{% endblock %}

{# CHANGE SIDEBAR #}
{% block sidebar %}
    {% include "pages/switchboard/sidebar/menu" %}
{% endblock %}

{% block pageContent %}

    {# <!-- Info boxes -->
     <div class="row">

         <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box">
                 <span class="info-box-icon bg-aqua"><i class="fa fa-gear"></i></span>
                 <div class="info-box-content">
                     <span class="info-box-text">
                         Configuration
                     </span>
                     <span class="info-box-number"></span>
                 </div><!-- /.info-box-content -->
             </div><!-- /.info-box -->
         </div><!-- /.col -->

         <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box">
                 <span class="info-box-icon bg-green"><i class="fa fa-phone-square"></i></span>
                 <div class="info-box-content">
                     <span class="info-box-text">Operators</span>
                     <span class="info-box-number">3/5 <small> online</small></span>
                 </div><!-- /.info-box-content -->
             </div><!-- /.info-box -->
         </div><!-- /.col -->

     </div><!-- /.row -->
     #}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Dialplan tree</h3>
                    <div class="box-tools pull-right hidden">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-wrench"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">


                        <div class="col-md-12">

                            <ul id="dialplan" class="hidden">
                                {% include "./loops/dialplantree" %}
                            </ul>


                            <div id="configuration"></div>

                        </div><!-- /.col -->


                    </div><!-- /.row -->
                </div><!-- ./box-body -->


            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->


    <div id="moduleConfig" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Module configuration for <span class="moduleParentName"></span></h4>
                </div>
                <div class="modal-body">


                    <label for="moduleType">Module type:</label><br/>
                    <select id="moduleType" name="moduleType" class="form-control">
                        <option selected="selected">Play a file</option>
                        <option disabled>User input</option>
                        <option disabled>Call forwarding</option>
                        <option disabled>Operator</option>
                        <option disabled>Group operators</option>
                    </select>
                    <br/><br/>

                    <div id="moduleConfig_configs">
                        <div id="moduleConfig_configs_settings">
                            loading
                        </div>
                        <br />

                        <h3>Options</h3>
                        <input type="checkbox" name="" /> Can skip the message
                        <hr />

                        <fieldset>
                            <legend>Library song</legend>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#songLibraryModal">
                               Click here
                            </button>

                        </fieldset>

                        <br /><br />

                        <fieldset>
                            <legend>Upload</legend>
                            You can upload a <em>WAV</em> file or a <em>MP3</em> file:<br />
                            <input type="file" name="file" id="file" />
                        </fieldset>

                        <br /><br />

                        <fieldset>
                            <legend>Recording</legend>
                            <ol>
                                <li>Call this service number: <strong>+33(0)3.62.72.90.20</strong></li>
                                <li>Type the service code: <strong>20</strong></li>
                                <li>Type this dialplan code: <strong>{{ switchboard.sid }}</strong></li>
                                <li>Then, type this module code: <strong data-set="moduleCode">00</strong></li>
                                <li><em>Ready to record!</em></li>
                            </ol>
                        </fieldset>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="moduleCreate" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create a child for <span class="moduleParentName"></span></h4>
                </div>
                <div class="modal-body">


                    <label for="moduleTypeCreate">Module type:</label><br/>
                    <select id="moduleTypeCreate" name="moduleType" class="form-control">
                        <option selected="selected" value="playback">Play a file</option>
                        <option disabled>User input</option>
                        <option disabled>Call forwarding</option>
                        <option disabled>Operator</option>
                        <option disabled>Group operators</option>
                    </select>
                    <br/><br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createNewModuleButton">Create</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div id="songLibraryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Song library</h4>
                </div>
                <div class="modal-body">


                    <label for="songLibrary">Available:</label><br/>
                    <select id="songLibrary" name="songLibrary" style="width: 100%;" class="select2">
                        {% for sound in librarySounds %}
                            <option value="{{ sound.soundId }}" data-path="{{ sound.path }}">{{ sound.slug }}</option>
                        {% endfor  %}
                    </select>
                    <br/><br/>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Choose</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




{% endblock %}

{% block cssFiles %}
    <link rel="stylesheet" href="/assets/libs/jorgchart/jorgchart.css"/>

    <!-- Select2 -->
    <link rel="stylesheet" href="/assets/libs/plugins/select2/select2.min.css">
{% endblock %}

{% block jsFiles %}
    {{ parent() }}
    <script src="/assets/libs/jorgchart/jorgchart.js"></script>
    <script src="/assets/libs/plugins/select2/select2.full.min.js"></script>
    <script src="/assets/js/dialplan.js"></script>
    <script>
        $(function () {
            $("#dialplan").jOrgChart({
                chartElement: "#configuration",
                dragAndDrop: true
            });

            //Initialize Select2 Elements
            $(".select2").select2();
        });
    </script>
{% endblock %}