{% extends "../../layouts/base" %}

{% block title %}
    Registration
{% endblock %}
{% block pageHeader %}
    Registration
{% endblock %}

{% block breadcrumb %}
    <li><a href="/login">Registration</a></li>
{% endblock %}


{% block pageContent %}

    <div class="row">
        <div class=" col-md-6 col-md-offset-3">
            <form action="/register" method="post" class="form-horizontal">

                {% if hasErrors('company') %}
                    <div class="alert alert-danger">
                        <p>
                            {% for err in getAllErrors('company') %}
                                {{ err }}<br/>
                            {% endfor %}
                        </p>
                    </div>

                {% endif %}


                <div class="input-group input-sm">
                    <label class="input-group-addon" for="name"><i class="fa fa-building"></i></label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="Company Name" value="{{ company.name }}">
                </div>

                <div class="input-group input-sm">
                    <label class="input-group-addon" for="address"><i class="fa fa-envelope-o"></i></label>
                    <input type="text" class="form-control" id="address" name="address"
                           placeholder="Company Address" value="{{ company.address }}">
                </div>

                <div class="input-group input-sm">
                    <label class="input-group-addon" for="address2"><i class="fa fa-envelope-o"></i></label>
                    <input type="text" class="form-control" id="address2" name="address2"
                           placeholder="Company Address2" value="{{ company.address2 }}">
                </div>

                <div class="input-group input-sm">
                    <label class="input-group-addon" for="postcode"><i class="fa fa-envelope-o"></i></label>
                    <input type="text" class="form-control" id="postcode" name="postcode"
                           placeholder="Company Postal Code" value="{{ company.postcode }}">
                </div>


                <div class="input-group input-sm">
                    <label class="input-group-addon" for="city"><i class="fa fa-envelope-o"></i></label>
                    <input type="text" class="form-control" id="city" name="city"
                           placeholder="Company City" value="{{ company.city }}">
                </div>

                <div class="input-group input-sm">
                    <label class="input-group-addon" for="country"><i class="fa fa-globe"></i></label>
                    <input type="text" class="form-control" id="country" name="country"
                           placeholder="Company Country" value="{{ company.country }}">
                </div>

                <div class="input-group input-sm">
                    <label class="input-group-addon" for="phoneNumber"><i class="fa fa-phone"></i></label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                           placeholder="Company Phone Number" value="{{ company.phoneNumber }}">
                </div>

                <div class="input-group input-sm">
                    <label class="input-group-addon" for="ContactName"><i class="fa fa-user"></i></label>
                    <input type="text" class="form-control" id="ContactName" name="ContactName"
                           placeholder="Company Contact Name" value="{{ company.ContactName }}">
                </div>

                <div class="input-group input-sm">
                    <label class="input-group-addon" for="ContactPhone"><i class="fa fa-phone"></i></label>
                    <input type="text" class="form-control" id="ContactPhone" name="ContactPhone"
                           placeholder="Company Contact Phone" value="{{ company.ContactPhone }}">
                </div>


                <div class="input-group input-sm">
                    <label class="input-group-addon" for="ContactMail"><i class="fa fa-at"></i></label>
                    <input type="email" class="form-control" id="ContactMail" name="ContactMail"
                           placeholder="Company Contact Mail" value="{{ company.ContactMail }}">
                </div>


                <div class="input-group input-sm">
                    <label class="input-group-addon" for="password"><i class="fa fa-lock"></i></label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Password">
                </div>


                <div class="input-group input-sm">
                    <label class="input-group-addon" for="matchingPassword"><i class="fa fa-lock"></i></label>
                    <input type="password" class="form-control" id="matchingPassword" name="matchingPassword"
                           placeholder="Confirm password">
                </div>


                {% set token = request.attribute('_csrf') %}
                <input type="hidden" name="{{ token.parameterName }}" value="{{ token.token }}"/>

                <div class="form-actions">
                    <input type="submit"
                           class="btn btn-block btn-primary btn-default" value="Register">
                </div>
            </form>
        </div>
    </div>


{% endblock %}