{% extends "../../layouts/base" %}

{% block title %}
    Directory
{% endblock %}
{% block pageHeader %}
    Switchboards Directory
{% endblock %}

{% block breadcrumb %}
    <li><a href="/directory">Directory</a></li>
{% endblock %}


{% block pageContent %}

    <table id="directory" class="table table-striped">
        <tr>
            <th>Switchboard number</th>
            <th>Name</th>
            <th>Description</th>
            <th>Line</th>
            <th>Code</th>
        </tr>

        {% for switchboard in list %}
            <tr>
                <td width="20">{{ switchboard.sid }}</td>
                <td>{{ switchboard.name }} </td>
                <td {{ switchboard.description }}</td>
                <td>{{ switchboard.line.formatNumber() }}</td>
                <td >{{ switchboard.phoneCodeAccess }}</td>
            </tr>

        {% endfor %}


    </table>


{% endblock %}