<li id="rootmod_{{ rootModule.mid }}">
    {% if rootModule.phoneKey > 0 %}
        <div class="phoneKey" title="Key to press on phone">{{ rootModule.phoneKey }}</div>
    {% endif %}

    <div class="moduleDescription">
        <strong>#{{ rootModule.mid }}</strong>
        {{ rootModule.display() | raw }}
    </div>

    <ul id="submods_{{ rootModule.mid }}">
        {% if rootModule.moduleChilds | length > 0 %}
            {% for module in rootModule.moduleChilds %}
                {% include "./dialplantree" with {'rootModule': module} %}
            {% endfor %}
        {% endif %}
    </ul>

    <div class="addModule" data-module-id="{{ rootModule.mid }}">+</div>

    <div data-infos="{{ rootModule.toJson() }}"></div>

</li>